@{
    ViewData["Title"] = "Confirm Email";
}

<div class="text-center">

    <br />

    <h2>@ViewData["Title"]</h2>

    <br />

    <h2>Thank you for confiming your email. Now you can login into the system.</h2>

    <br />

</div>