@{
    ViewData["Title"] = "Not Authorized";
}

<div class="text-center">

    <br />

    <h2>@ViewData["Title"]</h2>

    <br />

    <h2>You're not authorized to do that action.</h2>

    <br />

</div>