@{
    ViewData["Title"] = "About";
}

<div class="text-center">

    <br />

    <h2>@ViewData["Title"]</h2>

    <br />

    <h2>Developed by: </h2>

    <br />

    <img src="~/images/img001.jpg" />

    <br />

</div>