@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <br />

    <h2>Welcome to SuperShop!</h2>

    <br />

    <div>
        <img src="~/images/ECOMMERCE.png" alt="SuperShop Logo" />
    </div>

    <br />

    <p>
        Explore our wide selection of products at amazing prices.
        Find everything you need and more!
    </p>

    <br />

</div>